.hero {
  background-color: #FFFDF8;
  padding-top: 70px;
}

.hero__title {
  margin: 0;
  margin-bottom: 32px;
}

.hero__title {
  color: #9F7303;
  margin: 0;
  margin-bottom: 56px;
}

.hero__description--color {
  color: #9F7303;
}

.hero__list-moment {
  list-style: none;
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
}

.hero__list-moment-item {
  padding-left: 27px;
  position: relative;
  margin-bottom: 8px;
}

.hero__list-moment-item:last-child {
  margin-bottom: 0;
}

.hero__list-moment-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #F5D581;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
