.main_nav {
  display: flex;
  margin-left: auto;
  max-width: 700px;

}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navigation__link {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 6px 23px;
}

.navigation__link--border {
  border: 1px solid #9F7303;
  border-radius: 8px;
}

.navigation__link:hover,
.navigation__link:focus-visible {
  color: #9F7303;
}


.navigation__link:active {
  color: #684C05;
}

.navigation__link--border:hover,
.navigation__link--border:focus-visible {
  color: #9F7303;
  background-color: #FFFDF8;
}

.navigation__link--border:active {
  background-color: #FFF7E3;
}

.navigation__drop {
  background-image: url('../../icons/arrow-drop.svg');
  background-position: right 6px center;
  background-size: 13px 9px;
  background-repeat: no-repeat;
}

.navigation__drop-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 24px 16px;
  position: absolute;
  bottom: -200px;
  left: 23px;
  width: 200px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 0px #6161612E,
    0px 2px 4px 0px #6161612E;
  z-index: 10;
}

.navigation__drop-list--show {
  display: block;
}

.navigation__drop-link {
  padding: 0;
  margin-bottom: 23px;
}

.menu-primary-container .menu-item {
  list-style-type: none;
}

.menu-primary-container .menu-item a {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  padding: 10px 25px;
  text-decoration: none;
}

.menu-primary-container .menu-item a:hover {
  color: #9f7303;
}

.menu-primary-container .menu {
  display: flex;
  flex-wrap: wrap;
}

/* Отступы для пунктов меню первого уровня */

.menu-primary-container .menu>.menu-item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.menu-primary-container .sub-menu {
  position: absolute;
  min-width: 200px;
  top: 30px;
  left: 20px;
  display: none;
  padding: 15px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(97, 97, 97, 0.18), 0 4px 8px rgba(97, 97, 97, 0.18);
  z-index: 2;
}

.menu-primary-container .sub-menu a {
  line-height: 22px;
}

.menu-primary-container .menu-item-has-children {
  position: relative;
}

.menu-primary-container .menu-item-has-children>a {
  padding-right: 30px;
}

.menu-primary-container .menu-item-has-children::before {
  content: "";
  background-image: url("img/icon-sub-menu.svg");
  width: 13px;
  height: 9px;
  background-size: cover;
  position: absolute;
  right: 5px;
  top: 12px;
  z-index: -1;
}

.menu-primary-container .sub-menu .menu-item {
  margin-bottom: 10px;
}

.menu-primary-container .sub-menu .menu-item:last-child {
  margin-bottom: 0;
}

.menu-primary-container .menu-item-has-children:hover .sub-menu {
  display: block;
}

.menu-primary-container .menu-item-styled {
  border: 1px solid #9f7303;
  border-radius: 8px;
}

.menu-primary-container .current-menu-item a {
  color: #684C05;
}